{% load static %}
<!--Footer-->
  <div id="suporte" class="px-4 text-light bg-dark">
    <footer class="py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-6 col-md-2 mb-3">
          <br>
          <a class="navbar-brand" href="../"><img class="w3-image w3-round-large" src="{% static 'assets/img/logo2.png' %}" alt="Home"
            width="70%"></a>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>Navegação</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="../livros" class="nav-link p-0 ">Catálogos</a></li>
            <li class="nav-item mb-2"><a href="../#destaque" class="nav-link p-0 ">Destaque</a></li>
            <li class="nav-item mb-2"><a href="../FAQs" class="nav-link p-0 ">FAQs</a></li>
            <li class="nav-item mb-2"><a href="../#sobre" class="nav-link p-0 ">Sobre</a></li>
            <li class="nav-item mb-2">Gmail: xbooks@gmail.com</li>
            <li class="nav-item mb-2">Contato: 4002-8922</li>
          </ul>
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            {% csrf_token %}
            <h5>Entre em contato conosco</h5>
            <p>Envie sugestões ou feedbacks sobre livros ou bugs.</p>
            {% for field in formF.visible_fields %}
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="{{field.id_for_label}}" class="visually-hidden">{{field.label}}</label>
              {{field}}
              <button class="btn btn-primary" type="button">Enviar</button>
            </div>
            {% endfor %}
          </form>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2023 X-Books, Inc. Todos direitos reservados.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" ><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>