{% load static %}
<!-- MODAL -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Login Usuário</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action = "{% url 'login' %}" method = "POST">
            {% csrf_token %}
            {% for fiel in form.visible_fields %}
            <div class="mb-3">
              <label for="{{fiel.id_for_label}}" class="form-label">{{fiel.label}}:</label>
              {{fiel}}
            </div>
            {% endfor %}
              <div class="mb-3">
              <div class="row">
                <div class="col">
                  <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:blue;">Clique aqui</a></div>
                </div>
                <div class="col">
                  <div id="emailHelp" class="form-text text-end me-1">Não é registrado? <a href="#" style="color:blue;">Criar conta</a></div>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> <img width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"> Entrar com Google</button>
              <button type="submit" class="btn btn-dark" >Entrar</button>
            </div>
          </form>
        </div>
       </div>
      </div>
    </div>
  </div>