{% load static %}
<sidebar >
    <div class="logo-name">
        <div class="logo-image">
           <img src="../images/logo.png" alt="">
        </div>
        <span class="logo_name">X-Books</span>
    </div>
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="#">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dahsboard</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name"><a class="page-link" href="../funcionario">Pagina Inicial</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name"><a class="page-link" href="../funcionario1">Livros Disponiveis</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name"><a class="page-link" href="../funcionario2">Livros Devolvidos</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name"><a class="page-link" href="../funcionario3">Livros Alugados</a></span>
            </a></li>
        </ul>  
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Loggout</span>
            </a></li>
        </ul>
    </div>
</sidebar>