{% load static %}
<sidebar >
    <div class="logo-name">
        <div class="logo-image">
           <img src="../images/logo.png" alt="">
        </div>
        <span class="logo_name">X-Books</span>
    </div>
    <div class="menu-items">
        <ul>
            <li><a href="#">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dahsboard</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name"><a class="page-link" href="../funcionario">Pagina Inicial</a></span>
            </a></li>
        
            <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name"><a class="page-link" href="../cadastro_user">Cadastrar Usuario</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name"><a class="page-link" href="../consulta_user">Consulta Usuarios</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name"><a class="page-link" href="{% url 'cadastrarL' %}">Cadastra Livros</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name"><a class="page-link" href="../consulta_book">Consulta Livros</a></span>
            </a></li>
        </ul>  
    </div>
</sidebar>