{% load static %}
<sidebar >
    <div class="logo-name">
        <div class="logo-image">
           <img src="../images/logo.png" alt="">
        </div>
        <span class="logo_name">X-Books</span>
    </div>
    <div class="menu-items">
        <ul>
            
            <li><a href="#">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dahsboard</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name"><a class="page-link" href="admin.html">Pagina Inicial</a></span>
            </a></li>
        
            <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name"><a class="page-link" href="cadastrar_usuario.html">Cadastrar Usuario</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name"><a class="page-link" href="consulta_usuario.html">Consulta Usuarios</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name"><a class="page-link" href="cadastrar_livros.html">Cadastra Livros</a></span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name"><a class="page-link" href="admin3.html">Consulta Livros</a></span>
            </a></li>
        </ul>  
    </div>
</sidebar>