{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/xbooks.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <link rel="icon" href="{% static 'assets/img/azul-X.png' %}" type="image/x-icon">
    <title>Principal | X-Books</title>
  </head>
  <body>

    {% block content %}
    {% endblock %}

  </body>
</html>