{% extends 'layout/layout3.html' %}
{% load static %}
{% block content %}
    <!-- NAVBAR -->
       <nav class="navbar navbar-light sticky-top navbar-expand-lg p-3 mb-5 shadow rounded" style=background-color:#e3f2fd;>
            <div class="container-fluid mx-3 p-2">
            <a href="index.html"><img src="assets/img/logo.png" alt="Logo" width="130" height="34" class="d-inline-block align-text-top"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav position-absolute top-50 start-50 translate-middle me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="livros.html">Página Inicial</a>
                    </li>
                    <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Procurar livro" aria-label="Search">
                    <button type="button" class="btn btn-info">Pesquisar</button>
                    </form>
                </ul>
                </div>
                <div class="col-md-3 text-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="darkblue" class="bi bi-person" viewBox="2 1 18 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                      </svg>
                </div>
            </div>
        </nav>
        
    <sidebar >
        <div class="logo-name">
            <div class="logo-image">
               <img src="../images/logo.png" alt="">
            </div>
            <span class="logo_name">X-Books</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name"><a class="page-link" href="admin.html">Pagina Inicial</a></span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name"><a class="page-link" href="admin1.html">Livros Disponiveis</a></span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name"><a class="page-link" href="admin2.html">Livros Devolvidos</a></span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name"><a class="page-link" href="admin3.html">Livros Alugados</a></span>
                </a></li>
            </ul>  
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Loggout</span>
                </a></li>
            </ul>
        </div>
    </sidebar>
    
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Livros Devolvidos</span>
                </div>
                <div class="boxes">
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Livros Devolvidos</span>
                        <span class="number">40</span>
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Atividade Recente</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Nome</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Data de alocação</span>
                        <span class="data-list">02-07-2023</span>
                        <span class="data-list">07-06-2023</span>
                        <span class="data-list">02-10-2023</span>
                        <span class="data-list">06-02-2023</span>
                        <span class="data-list">08-04-2023</span>
                        <span class="data-list">10-03-2023</span>
                        <span class="data-list">14-05-2023</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Data de Devolução</span>
                        <span class="data-list">01-09-2023</span>
                        <span class="data-list">11-07-2023</span>
                        <span class="data-list">02-08-2023</span>
                        <span class="data-list">22-05-2023</span>
                        <span class="data-list">03-06-2023</span>
                        <span class="data-list">31-04-2023</span>
                        <span class="data-list">04-05-2023</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Pendente</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pendente</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pendente</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}