{% extends 'layout/layout3.html' %}
{% load static %}
{% block content %}
    {% include 'partials/navbar3.html' %}
    {% include 'partials/sidebar.html' %}
    
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Livros Alugados</span>
                        <span class="number">50</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Livros Disponiveis</span>
                        <span class="number">75</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Livros Devolvidos</span>
                        <span class="number">40</span>
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Atividade Recente</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Nome</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Data de alocação</span>
                        <span class="data-list">02-07-2023</span>
                        <span class="data-list">07-06-2023</span>
                        <span class="data-list">02-10-2023</span>
                        <span class="data-list">06-02-2023</span>
                        <span class="data-list">08-04-2023</span>
                        <span class="data-list">10-03-2023</span>
                        <span class="data-list">14-05-2023</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Data de Devolução</span>
                        <span class="data-list">01-09-2023</span>
                        <span class="data-list">11-07-2023</span>
                        <span class="data-list">02-08-2023</span>
                        <span class="data-list">22-05-2023</span>
                        <span class="data-list">03-06-2023</span>
                        <span class="data-list">31-04-2023</span>
                        <span class="data-list">04-05-2023</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Pendente</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pendente</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pago</span>
                        <span class="data-list">Pendente</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}