{% extends 'layout/layout3.html' %}
{% load static %}
{% block content %}
    {% include 'partials/navbar3.html' %} 
    {% include 'partials/sidebar2.html' %}
    
    <section class="dashboard">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div >
              <div>
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Editar dados do usuarios</p>
                      {% for user in usuarios %}
                      <form class="mx-1 mx-md-4"  action="{% url 'update' user.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="nome" value="{{user.nome}}">
                        <input type="text" name="endereco" value="{{user.endereco}}">
                        <input type="text" name="telefone" value="{{user.telefone}}">
                        <input type="email" name="email" value="{{user.email}}">
                        <button type="submit">Enviar</button>
                      </form>
                      {% endfor %}
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  {% endblock %}