{% extends 'layout/layout2.html' %}
{% load static %}
{% block content %}

{% include 'partials/modal.html' %}
{% include 'partials/navbar2.html' %}
    <!--LIVROS GERAIS-->
    <div class="container pt-4 mt-3">
      <h2 class="pb-2 border-bottom">Livros Gerais</h2>
      <div id="carouselExampleIntervalGeral" class="carousel slide" data-bs-ride="carousel1">
       <div class="carousel-inner">
         <div class="carousel-item active" data-bs-interval="10000">
           <div class="row align-items-start gap-3">
             {% for x in livros %}
             <div class="col">
               <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                 <div class="card-body">
                   {% if x.image %}
                     <img src="{{ x.image.url }}" alt="" class="card-img-top">
                   {% else %}
                   {% endif %}
                  </hr>
                  <h5 class="text-center mt-3">{{x.titulo}}</h5>
                  <h6 class="text-center mt-3">{{x.autor}}</h6>
                  <div class="footer mt-3">
                     {% if x.status %}
                     <a  href="../reserva_livros" ><button type="button"class="page-link btn btn-primary w-100">Reservar</button></a>
                     {% else %}
                     <button type="button" class="btn btn-secondary w-100"><a href=""></a>Reservado</button>
                     {% endif %}
                    </div>
                 </div>
                </div>
             </div>
             {% endfor %}
            </div>
         </div>
         <div class="carousel-item" data-bs-interval="5000">
           <div class="row align-items-start gap-3">
             {% for x in livros %}
             <div class="col">
               <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                 <div class="card-body">
                   {% if x.image %}
                     <img src="{{ x.image.url }}" alt="" class="card-img-top">
                     {% else %}
                   {% endif %}
                  </hr>
                   <h5 class="text-center mt-3">{{x.titulo}}</h5>
                   <h6 class="text-center mt-3">{{x.autor}}</h6>
                   <div class="footer mt-3">
                    {% if x.status == Liberado %}
                    <button type="button" href="../reserva_livros" class="page-link btn btn-primary w-100"><a href="../descricao">Reservar</a></button>
                    {% else %}
                    <button type="button" class="btn btn-secondary w-100"><a href=""></a>Reservado</button>
                    {% endif %}
                    </div>
                 </div>
                </div>
             </div>
             {% endfor %}
           </div>
         </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalGeral" data-bs-slide="prev">
          <span style="background-color: grey;" class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalGeral" data-bs-slide="next">
          <span style="background-color: grey;" class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
     </div>
    </div>
    <!--LIVROS GENEROS-->
    {% for g in genero %}
      <div class="container pt-4 mt-3">
        <h2 id="{{g.id}}" class="pb-2 border-bottom">Livros {{g.nome}}</h2>
        <div id="carouselExampleIntervalAvetura" class="carousel slide" data-bs-ride="carousel4">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row align-items-start gap-3">
                {% for x in livros %}
                  {% if x.genero_id == 1 %}
                    <div class="col">
                      <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                        <div class="card-body">
                          {% if x.image %}
                            <img src="{{ x.image.url }}" alt="" class="card-img-top">
                          {% else %}
                          {% endif %}
                          </hr>
                          <h5 class="text-center mt-3">{{x.titulo}}</h5>
                          <h6 class="text-center mt-3">{{x.autor}}</h6>
                          <div class="footer mt-3">
                            {% if x.status == Liberado %}
                            <button type="button" href="../reserva_livros" class="page-link btn btn-primary w-100"><a href="../descricao">Reservar</a></button>
                            {% else %}
                            <button type="button" class="btn btn-secondary w-100"><a href=""></a>Reservado</button>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <div class="row align-items-start gap-3">
                {% for x in livros %}
                  {% if x.genero_id == 1 %}
                    <div class="col">
                      <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                        <div class="card-body">
                          {% if x.image %}
                            <img src="{{ x.image.url }}" alt="" class="card-img-top">
                          {% else %}
                          {% endif %}
                          </hr>
                          <h5 class="text-center mt-3">{{x.titulo}}</h5>
                          <h6 class="text-center mt-3">{{x.autor}}</h6>
                          <div class="footer mt-3">
                            {% if x.status == Liberado %}
                            <button type="button" href="../reserva_livros" class="page-link btn btn-primary w-100"><a href="../descricao">Reservar</a></button>
                            {% else %}
                            <button type="button" class="btn btn-secondary w-100"><a href=""></a>Reservado</button>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalAvetura" data-bs-slide="prev">
            <span style="background-color: grey;" class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalAvetura" data-bs-slide="next">
            <span style="background-color: grey;" class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    {% endfor %}
    {% include 'partials/footer.html' %}
{% endblock %}
