{% extends 'layout/layout2.html' %}
{% load static %}
{% block content %}

 {% include 'partials/navbar2.html' %}
    <!-- LIVROS -->
    <div class="container pt-4 mt-3">
      <h2 class="pb-2 border-bottom">Livros Gerais</h2>
      <div id="carouselExampleIntervalPromo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row align-items-start gap-3">
              {% for x in livros %}
              <div class="col">
                <div class="card">
                  {% if x.image %}
                    <img src="{{ x.image.url }}" class="card-img-top" alt="...">
                  {% else %}
                    <p>Capa não foi encontrada</p>
                  {% endif %}
                  <div class="card-body text-center">
                    <h5 class="card-title">{{x.titulo}}</h5>
                    <p class="card-text">{{x.autor}}</p>
                    <p class="card-text">{{x.genero}}</p>
                    <button type="button" class="btn btn-secondary text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reservar</button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="row align-items-start gap-3">
              {% for x in livros %}
              <div class="col">
                <div class="card">
                  {% if x.image %}
                    <img src="{{ x.image.url }}" class="card-img-top" alt="...">
                  {% else %}
                    <p>Capa não foi encontrada</p>
                  {% endif %}
                  <div class="card-body text-center">
                    <h5 class="card-title">{{x.titulo}}</h5>
                    <p class="card-text">{{x.autor}}</p>
                    <p class="card-text">{{x.genero}}</p>
                    <a class="page-link" href="../reserva_livros">Reservar</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalPromo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalPromo" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {% include 'partials/footer.html' %}
{% endblock %}
