{% extends 'layout/layout2.html' %}
{% load static %}
{% block content %}

  {% include 'partials/navbar2.html' %}
    <!-- LIVROS -->
    <div class="container py-5">
      <div class="row align-items-start py-1">
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h4><span class="badge bg-success">Novo</span></h4>
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h4><span class="badge bg-success">Novo</span></h4>
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h4><span class="badge bg-success">Novo</span></h4>
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h4><span class="badge bg-success">Novo</span></h4>
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card novidade text-white shadow-sm p-3 mb-3">
            <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
            <div class="card-img-overlay">
              <span><a class=" px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle" href="templates/descricao.html">Reservar</a></span>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="pagination">
        <ul class="pagination pagination-md justify-content-center">
          <li class="page-item"><a class="page-link" href="catalogo.html">1</a></li>
          </li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
        </li> 
        </ul>
    </nav>
    </div>
    {% include 'partials/footer.html' %}
{% endblock %}