{% extends 'layout/layout2.html' %}
{% load static %}
{% block content %}

    <!-- MODAL -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="validationCustom01" value="" required>
                  <div class="valid-feedback">
                    Parece bom!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Sobrenome</label>
                  <input type="text" class="form-control" id="validationCustom02" value="" required>
                  <div class="valid-feedback">
                    Parece bom!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Nome de usuário</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                      Por favor, insira seu nome de usuário
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom03" class="form-label">Endereço</label>
                  <input type="text" class="form-control" id="validationCustom03" required>
                  <div class="invalid-feedback">
                    Campo obrigatório!
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="validationCustom05" class="form-label">Número</label>
                  <input type="text" class="form-control" id="validationCustom05" required>
                  <div class="invalid-feedback">
                    Campo obrigatório!
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Estou ciente e concordo com todos os termos e condições
                    </label>
                    <div class="invalid-feedback">
                      Você deve marcar que concorda com os termos antes de concluir
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Finalizar</button>
                  <button class="btn btn-danger" type="submit">Cancelar</button>
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
    <!--FIM DO MODAL -->
    {% include 'partials/navbar1.html' %}
        <!-- DESCRIÇAO DO ITEM -->
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="card text-white shadow-sm p-3 mb-3">
                      <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 py-3 text-center">
                    <div class="col mt-5 py-5">
                        <h5 class="featurette-heading fw-bold">Título do livro</h5>
                        <p class="fw-normal">Descrição do livro</p>
                        <div class="footer mt-3">
                            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reservar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'partials/footer.html' %}
{% endblock %}