{% extends 'layout/layout2.html' %}
{% load static %}
{% block content %}

    {% include 'partials/navbar1.html' %}
        <!-- DESCRIÇAO DO ITEM -->
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="card text-white shadow-sm p-3 mb-3">
                      <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 py-3 text-center">
                    <div class="col mt-5 py-5">
                        <h5 class="featurette-heading fw-bold">Título do livro</h5>
                        <p class="fw-normal">Descrição do livro</p>
                        <div class="footer mt-3">
                            <button type="button" class="btn btn-primary w-100">Reservar</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    {% include 'partials/footer.html' %}
{% endblock %}