{% extends 'layout/layout1.html' %}
{% load static %}
{% block content %}

  {% include 'partials/modal.html' %}
  {% include 'partials/navbar1.html' %}
    <div class="container my-5">
      <h1 class="">Perguntas Frequentes (FAQs)</h1>
      <hr>
      <h2>1. O que é a X-Books?</h2>
      <p>A X-Books é uma biblioteca online que oferece uma ampla coleção de livros de diversas categorias, desde literatura clássica até os mais recentes best-sellers. Nosso objetivo é proporcionar uma excepcional experiência de leitura aos nossos usuários.</p>

      <h2>2. Como faço para acessar os livros na X-Books?</h2>
      <p>Para acessar os livros na X-Books, você precisa se cadastrar em nossa plataforma. Depois de criar uma conta, você pode navegar pela nossa extensa biblioteca, encontrar os livros que deseja alugar.</p>

      <h2>3. Os livros na X-Books estão disponíveis para download?</h2>
      <p>Não, os livros na X-Books não estão disponíveis para download. Eles podem ser lidos fisicamente em nossa biblioteca escolar. Isso nos permite manter o controle de empréstimos e garantir que nossos usuários tenham uma experiência segura e conveniente.</p>

      <h2>4. Posso alugar os livros offline?</h2>
      <p>No momento, a alugação offline não é suportada em nossa plataforma. Os livros devem ser alugados enquanto estiver online ou por contato a nossa biblioteca, mas nossa plataforma é compatível com uma variedade de dispositivos para maior conveniência.</p>

      <h2>5. Como faço para entrar em contato com o suporte da X-Books?</h2>
      <p>Você pode entrar em contato com nossa equipe de suporte através da página de contato em nosso site. Estamos disponíveis para ajudá-lo com quaisquer dúvidas ou problemas que possa ter.</p>

      <h2>6. Como faço para sugerir a inclusão de um livro na X-Books?</h2>
      <p>Adoramos receber sugestões de nossos usuários! Se você deseja sugerir a inclusão de um livro em nossa biblioteca, entre em contato conosco através da página de sugestões em nosso site. Analisaremos todas as sugestões com cuidado através dos Emails.</p>
    </div>
    {% include 'partials/footer.html' %}
{% endblock %}