{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/xbooks.css">
    <script src="assets/js/bootstrap.bundle.js"></script>
    <link rel="icon" href="assets/img/azul-X.png" type="image/x-icon">
    <title>FAQs | X-Books</title>
  </head>
  <body>
    <!-- MODAL -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Login Usuário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" placeholder="nome@email.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                <div class="row">
                  <div class="col">
                    <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:blue;">Clique aqui</a></div>
                  </div>
                  <div class="col">
                    <div id="emailHelp" class="form-text text-end me-1">Não é registrado? <a href="#" style="color:blue;">Criar conta</a></div>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> <img width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"> Entrar com Google</button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Entrar</button>
          </div>
        </div>
      </div>
    </div>
    <!--NAVBAR-->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between px-4 py-3 border-bottom bg-dark">
      <div class="col-md-3 mb-2 mb-md-0">
        <a class="navbar-brand" href="index.html"><img class="w3-image w3-round-large" src="assets/img/logo2.png" alt="Home"
          width="130" height="34"></a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="livros.html" class="nav-link px-2 link-secondary">Catálogos</a></li>
        <li><a href="index.html#destaque" class="nav-link px-2">Destaque</a></li>
        <li><a href="#suporte" class="nav-link px-2">Suporte</a></li>
        <li><a href="FAQs.html" class="nav-link px-2">FAQs</a></li>
        <li><a href="#sobre" class="nav-link px-2">Sobre</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="darkblue" class="bi bi-person" viewBox="2 1 18 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
          </svg>Entrar</button>
      </div>
    </header>
    <div class="container my-5">
      <h1 class="">Perguntas Frequentes (FAQs)</h1>
      <hr>
      <h2>1. O que é a X-Books?</h2>
      <p>A X-Books é uma biblioteca online que oferece uma ampla coleção de livros de diversas categorias, desde literatura clássica até os mais recentes best-sellers. Nosso objetivo é proporcionar uma excepcional experiência de leitura aos nossos usuários.</p>

      <h2>2. Como faço para acessar os livros na X-Books?</h2>
      <p>Para acessar os livros na X-Books, você precisa se cadastrar em nossa plataforma. Depois de criar uma conta, você pode navegar pela nossa extensa biblioteca, encontrar os livros que deseja alugar.</p>

      <h2>3. Os livros na X-Books estão disponíveis para download?</h2>
      <p>Não, os livros na X-Books não estão disponíveis para download. Eles podem ser lidos fisicamente em nossa biblioteca escolar. Isso nos permite manter o controle de empréstimos e garantir que nossos usuários tenham uma experiência segura e conveniente.</p>

      <h2>4. Posso alugar os livros offline?</h2>
      <p>No momento, a alugação offline não é suportada em nossa plataforma. Os livros devem ser alugados enquanto estiver online ou por contato a nossa biblioteca, mas nossa plataforma é compatível com uma variedade de dispositivos para maior conveniência.</p>

      <h2>5. Como faço para entrar em contato com o suporte da X-Books?</h2>
      <p>Você pode entrar em contato com nossa equipe de suporte através da página de contato em nosso site. Estamos disponíveis para ajudá-lo com quaisquer dúvidas ou problemas que possa ter.</p>

      <h2>6. Como faço para sugerir a inclusão de um livro na X-Books?</h2>
      <p>Adoramos receber sugestões de nossos usuários! Se você deseja sugerir a inclusão de um livro em nossa biblioteca, entre em contato conosco através da página de sugestões em nosso site. Analisaremos todas as sugestões com cuidado através dos Emails.</p>
    </div>
    <!--Footer-->
    <div id="suporte" class="px-4 text-light bg-dark">
      <footer class="py-5">
        <div class="row d-flex justify-content-center">

          <div class="col-6 col-md-2 mb-3">
            <br>
            <a class="navbar-brand" href="#"><img class="w3-image w3-round-large" src="assets/img/logo2.png" alt="Home"
              width="70%"></a>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Navegação</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="livros.html" class="nav-link p-0 ">Catálogos</a></li>
              <li class="nav-item mb-2"><a href="index.html#destaque" class="nav-link p-0 ">Destaque</a></li>
              <li class="nav-item mb-2"><a href="FAQs.html" class="nav-link p-0 ">FAQs</a></li>
              <li class="nav-item mb-2"><a href="index.html#sobre" class="nav-link p-0 ">Sobre</a></li>
              <li class="nav-item mb-2">Gmail: xbooks@gmail.com</li>
              <li class="nav-item mb-2">Contato: 4002-8922</li>
            </ul>
          </div>
    
          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Entre em contato conosco</h5>
              <p>Envie sugestões ou feedbacks sobre livros ou bugs.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">FeedBack</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="FeedBack">
                <button class="btn btn-primary" type="button">Enviar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© 2023 X-Books, Inc. Todos direitos reservados.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>