{% extends 'layout/layout2.html' %}
{% load static %}
{% block content %}

  {% include 'partials/modal.html' %} 
      <!--NAVBAR-->
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between px-4 py-3 border-bottom bg-dark">
        <div class="col-md-3 mb-2 mb-md-0">
          <a class="navbar-brand" href="../"><img class="w3-image w3-round-large" src="{% static 'assets/img/logo2.png' %}" alt="Home"
            width="130" height="34"></a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" style=background-color:#e3f2fd; aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="../catalogo">Drama</a></li>
              <li><a class="dropdown-item" href="../catalogo">Ficção</a></li>
              <li><a class="dropdown-item" href="../catalogo">Terror</a></li>
              <li><a class="dropdown-item" href="../catalogo">Romance</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="../catalogo">Ver mais</a></li>
            </ul>
          </li>
          <li><form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Procurar livro" aria-label="Search">
            <button type="button" class="btn btn-info">Pesquisar</button>
          </form></li>
        </ul>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="darkblue" class="bi bi-person" viewBox="2 1 18 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>Entrar</button>
        </div>
      </header>
        <!-- FIM DO NAVBAR -->

        <!-- INICIO DO CARROSSEL DEMONSTRATIVO -->
        <div id="Carousel" class="carousel slide mb-6" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#Carousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#Carousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#Carousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="bd-placeholder-img d-block w-100" src="{% static 'assets/img/banner.png' %}" alt="Banner1">
            </div>
            <div class="carousel-item">
              <img class="bd-placeholder-img d-block w-100" src="{% static 'assets/img/banner3.png' %}" alt="Banner2">
            </div>
            <div class="carousel-item">
              <img class="bd-placeholder-img d-block w-100" src="{% static 'assets/img/banner2.png' %}" alt="Banner3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#Carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#Carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
          </button>
        </div>
                            
      <!--CARROSSEL DE DESTAQUES -->
      <!--<div class="container">
        <h1 class="border-bottom fw-bold my-4">Destaques</h1>
        <div id="CarouselDestaque" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row align-items-start gap-3">
                {% for x in livros %}
                  {% if x.destaque == '2' %}
                    <div class="col">
                      <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                        <div class="card-body">
                          {% if x.image %}
                            <img src="{{ x.image.url }}" alt="" class="card-img-top">
                          {% else %}
                          {% endif %}
                          </hr>
                          <h5 class="text-center mt-3">{{x.titulo}}</h5>
                          <div class="footer mt-3">
                            {% if x.status %}
                              <button type="button" class="btn btn-primary w-100"><a href="../descricao"></a>Reservar</button>
                            {% else %}
                              <button type="button" class="btn btn-secondary w-100"><a href="../descricao"></a>Reservado</button>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% else %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#CarouselDestaque" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#CarouselDestaque" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
          </button>
        </div>
      </div>-->
      <!-- FIM CARROSSEL DE DESTAQUES -->
      <div class="container pt-4 mt-3">
        <h2 class="pb-2 border-bottom">Livros Gerais</h2>
        <div id="carouselExampleIntervalGeral" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row align-items-start gap-3">
                {% for x in livros %}
                <div class="col">
                  <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                    <div class="card-body">
                      {% if x.image %}
                        <img src="{{ x.image.url }}" alt="" class="card-img-top">
                      {% else %}
                      {% endif %}
                      </hr>
                      <h5 class="text-center mt-3">{{x.titulo}}</h5>
                      <div class="footer mt-3">
                        {% if x.status %}
                          <button type="button" class="btn btn-primary w-100"><a href="../descricao"></a>Reservar</button>
                        {% else %}
                          <button type="button" class="btn btn-secondary w-100"><a href="../descricao"></a>Reservado</button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <div class="row align-items-start gap-3">
                {% for x in livros %}
                <div class="col">
                  <div class="card shadow-sm p-3 mb-3 bg-body-tertiary rounded">
                    <div class="card-body">
                      {% if x.image %}
                        <img src="{{ x.image.url }}" alt="" class="card-img-top">
                      {% else %}
                      {% endif %}
                      </hr>
                      <h5 class="text-center mt-3">{{x.titulo}}</h5>
                      <div class="footer mt-3">
                        {% if x.status %}
                          <button type="button" class="btn btn-primary w-100"><a href="../descricao"></a>Reservar</button>
                        {% else %}
                          <button type="button" class="btn btn-secondary w-100"><a href="../descricao"></a>Reservado</button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalGeral" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalGeral" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- SESSÃO NOVIDADES -->
      <div class="container py-5">
        <div class="row align-items-start py-1">
          <div class="col">
            <h3 class="text-center mb-4 text-dark">Novidades</h3>
            <div class="card novidade text-light shadow-sm p-3 mb-3">
              <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
              <div class="card-img-overlay">
                <a href="index.html"><span class="card px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle">Ver mais</span></a>
              </div>
            </div>
          </div>
          <div class="col">
            <h3 class="text-center mb-4 text-dark">Disponíveis</h3>
            <div class="card novidade text-light shadow-sm p-3 mb-3">
              <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
              <div class="card-img-overlay">
                <a href="catalogo.html"><span class="card px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle">Ver mais</span></a>
              </div>
            </div>
          </div>
          <div class="col">
            <h3 class="text-center mb-4 text-dark">Sugestões</h3>
            <div class="card novidade text-light shadow-sm p-3 mb-3">
              <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
              <div class="card-img-overlay">
                <a href="#suporte"><span class="card px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle">Ver mais</span></a>
              </div>
            </div>
          </div>
          <div class="col">
            <h3 class="text-center mb-4 text-dark">Dúvidas frequentes</h3>
            <div class="card novidade text-light shadow-sm p-3 mb-3">
              <img src="https://images.pexels.com/photos/672662/pexels-photo-672662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
              <div class="card-img-overlay">
                <a href="FAQs.html"><span class="card px-4 fs-6 btn btn-light position-absolute top-50 start-50 translate-middle">Ver mais</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'partials/footer.html' %}
      <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            autoplay:true,
            autoplayTimeout:4000,
            responsive:{
                0:{
                  items:1
                },
                600:{
                  items:4
                },
                1000:{
                  items:4
                }
            }
          })
      </script>
{% endblock %}